body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

h1,
h2,
h3 {
    color: #ff8c00;
    /* Bright orange accent color */
}

a {
    color: #ff8c00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 40px;
}

.project {
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.project h3 {
    margin-top: 0;
}